html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
h1, h2, h3, h4, h5, h6, .noSelect{
	user-select:none;
	-ms-user-select:none;
	-moz-user-select:none;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	cursor:default;
}
ul{
	list-style-type:none;
}
ul li{
	cursor: default;
}
li a{
    display:block;
}
div{
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
a{
	color:#007BA0;
	cursor: pointer;
    text-decoration:none;
}
a:hover{
	text-decoration: underline;
}
.color_link{
	color: #007BA0;
	text-decoration: underline;
}
.container{
	border:1px #94B5BC solid;
	padding:10px;
	border-radius: 6px;
	background: #fff;
}
.main{
	padding:10px;
	max-width: 800px;
	margin: 0 auto;
    overflow:hidden;
    position: relative;
    top:10px;
}
.ques_info{
	position: absolute;
	border:1px lightgray solid;
	background: #fff;
	padding:5px;
	margin:2px;
	display: none;
}
.document{
	margin-top:10px;
	text-align: center;
	clear:both;
}
.document img{
	border:1px lightgray solid;
}
.down_btn{
	margin: 0 100px 0 100px;
	margin-top:10px;
}
.highlight{
	background: rgb(235, 240, 240);
	border-bottom: 1px lightgray solid;
	border-top: 1px lightgray solid;
}
.about_img{
	float:right; height:150px; border-radius:4px;
}