.nav_bar{
	position: relative;
	background: #fff;
	padding: 5px 10px 5px 10px;
	width:100%;
	display: table;
	box-shadow: 0 0 8px 1px rgb(190, 190, 190);
	border-bottom:1px #F76C88 solid;
	z-index: 10;
}

.logo{
	height: 50px;
	width: 50px;
	display: table-cell;
}
.logo a{
	height: inherit;
	width: inherit;
	cursor: pointer;
}
.logo a img{
	height: inherit;
	vertical-align: middle;
	border-radius: 6px;
}
.logo a img:hover{
	box-shadow: 0 0 7px 1px #F76C88;
}
.page_title{
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}
.page_title h3{
	float:left;
}
.page_title a{
	cursor: pointer;
}
.ques{
	margin-left:10px;
	float:left;
}
.ques button{
	border-radius: 30px;
}
.header_menu{
    float:left;
}
.header_menu > li{
    font-size:1.3em;
    padding:4px 10px 4px 0;
    font-weight:bold;
    float:left;
    z-index: 10;
}
.header_menu > li > ul{
    position:absolute;
    font-weight:normal;
    margin-top:10px;
    background-color:#fff;
    border:1px #F76C88 solid;
    font-size:.9em;
    display: none;
    z-index: 10;
}
.header_menu > li > ul > li > a{
    padding:4px 10px 4px 10px;
    color:#404040;
}
.header_menu > li > ul > li:hover{
    box-shadow: 0 0 3px 1px rgb(200, 200, 200) inset;
}
.down_arrow{
    font-size:.7em;
    color:rgb(200, 200, 200);
}
.index-3{
	z-index: 3;
}
.index-2{
	z-index: 2;
}
.index-1{
	z-index: 1;
}