a{
    color:#404040;
}
.welcome h3{
	text-align: center;
	margin-bottom: 8px;
	color: #00B5AB;
}
.message p{
	margin-top: 6px;
}
.home_menu{
	margin-top: 10px;
}
.home_menu > li{
	padding:10px 0 10px 0;
	border-left:2px #76A2A1 solid;
	border-right:2px #76A2A1 solid;
	margin-bottom:2px;
	background: #2ABCB9;
	background: -moz-linear-gradient(bottom, #78A0AB, #57828B);
	background: -ms-linear-gradient(bottom, #2ABCB9, #30A8A2);
	background: -webkit-linear-gradient(bottom, #2ABCB9, #30A8A2);
	background: -o-linear-gradient(bottom, #2ABCB9, #30A8A2);
	text-align: center;
	font-size: 1.25em;
	color:#fff;
}
.home_menu > li > ul{
	margin-top:10px;
	display: none;
	color:#404040;
	font-size: .8em;
}
.home_menu > li > ul > li{
	background: rgb(250, 250, 250);
	text-align: left;
}
.home_menu > li > ul > li:hover{
	box-shadow: 0 0 3px 1px rgb(200, 200, 200) inset;
	color:#404040;
}
.home_menu > li > ul > li > a{
    display:block;
    padding:6px 12px 6px 12px; 
}
.home_menu > li > ul > li > p{
    display:block;
    padding:6px 12px 6px 12px; 
}
li.first{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
li.last{
	background: #F76C88;
	background: -moz-linear-gradient(bottom, #F45A86, #F4336A);
	background: -ms-linear-gradient(bottom, #F45A86, #F4336A);
	background: -webkit-linear-gradient(bottom, #F45A86, #F4336A);
	background: -o-linear-gradient(bottom, #F45A86, #F4336A);
	border-left:1px #F4336A solid;
	border-right:1px #F4336A solid;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}