.stage_info{
    margin-top:10px;
}
.stage_container{
    padding:10px;
    width:90%;
    border-radius: 10px;
    background: #fff;
}
.stage_container div{
    margin-top: 10px;
}
.stage_title{
    border:4px #2ABCB9 solid;
}
.indent{
    padding-left: 20px;
}
.c1{
    float:right;
    border: 4px #CAC9F2 solid;
    margin-left:10px;
}
.c2{
    float:left;
    border: 4px lightblue solid;
    margin-top:10px;
    margin-right:10px;
}
.c3{
    float:right;
    border:4px #9BDD9F solid;
    margin-top:10px;
    margin-left:10px;
}
.c4{
    float:left;
    border: 4px pink solid;
    margin-top:10px;
    margin-right:10px;
}
.c5{
    float:right;
    background:lightpink;
    margin-top:10px;
    margin-left:10px;
}
.c6{
    float:left;
    background:lightblue;
    margin-top:10px;
    margin-right:10px;
}