.stage_info{
    margin-top:10px;
}
.stage_container{
    padding:10px;
    width:90%;
    border-radius: 10px;
    background: #fff;
}
.stage_container div{
    margin-top: 10px;
}
.stage_title{
    border:4px lightpink solid;
}
.indent{
    padding-left: 20px;
}
.c1{
    float:right;
    border: 4px #CAC9F2 solid;
    margin-left:10px;
    margin-top:10px;
}
.c2{
    float:left;
    border: 4px lightblue solid;
    margin-top:10px;
    margin-right:10px;
}
.c3{
    float:right;
    border:4px #9BDD9F solid;
    margin-top:10px;
    margin-left:10px;
}
.c4{
    float:left;
    border: 4px #CAC9F2 solid;
    margin-top:10px;
    margin-right:10px;
}
.c5{
    float:right;
    border: 4px lightpink solid;
    margin-top:10px;
    margin-left:10px;
}
.c6{
    float:left;
    border: 4px #f2D5d5 solid;
    margin-top:10px;
    margin-right:10px;
}
.c7{
    float:right;
    border: 4px #f2f2bf solid;
    margin-top:10px;
    margin-right:10px;
}
.c8{
    float:left;
    border: 4px #d5f2d9 solid;
    margin-top:10px;
    margin-right:10px;
}
.c9{
    float:right;
    border: 4px #f2d0a9 solid;
    margin-top:10px;
    margin-right:10px;
}

.c10{
    float:left;
    border: 4px #cac9f2 solid;
    margin-top:10px;
    margin-right:10px;
}

#faqNav{
    padding:15px;
    width:95%;
    border-radius: 10px;
    background: #d4d4d4;
    margin: 10px auto;
}
