#glossaryNav{
  overflow:hidden;
}
#glossaryNav ul li a{
	padding:0 10px 0 10px;
}
.glossaryContent dd{
	display: none;
	border:1px lightgray solid;
}
.glossaryContent dd, .glossaryContent dt{
	padding: 0 6px 0 6px;
	border-radius:6px;
}
.dt-btn{
	border:1px lightgray solid;
}
.dt-btn:hover{
	text-decoration: underline;
	cursor: pointer;
}
.side_container{
    border-radius: 10px;
    background: #fff;
    text-align: center;
}
.stage_container{
	width:92%;
	float:right !important;
}
.stage_container .button{
	border-radius: 10px;
}
.dt-border{
	border-bottom-right-radius:0 !important;
	border-bottom-left-radius:0 !important;
	border:1px gray solid !important;
}
.dd-border{
	border-top-right-radius:0 !important;
	border-top-left-radius:0 !important;
	border:1px gray solid !important;
}
.visible{
	display: block;
}
.remove{
	display: none;
}
.show_all_btn{
	float:right;
}