$skyColor: lightblue;

ul{
	list-style-type: none;

	li{
		cursor: pointer;

		a{
			display: block;
		}

	}

}

.alert-box.radius{
	-webkit-border-radius: 6px;
}

.alert-box.success {
    border-color: #3a945b;
    color: $skyColor;
    background: #fff;
}
.alert-box.alert {
    border-color: #de2b0f;
    color: white; 
    background: #fff;
}
.alert-box.secondary {
    border-color: #c7c7c7;
    color: $skyColor;
    background: #fff;
}
.alert-box.info {
    background-color: #fff;
    border-color: blue;
    color: #404040;
}