html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
h1, h2, h3, h4, h5, h6, .noSelect{
	user-select:none;
	-ms-user-select:none;
	-moz-user-select:none;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	cursor:default;
}
ul{
	list-style-type:none;
}
ul li{
	cursor: default;
}
li a{
    display:block;
}
div{
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
a{
	color:#007BA0;
	cursor: pointer;
    text-decoration:none;
}
a:hover{
	text-decoration: underline;
}
.color_link{
	color: #007BA0;
	text-decoration: underline;
}
.container{
	border:2px #94B5BC solid;
	padding:10px;
	border-radius: 6px;
	background: #fff;
}
.main{
	padding:10px;
	max-width: 800px;
	margin: 0 auto;
    overflow:hidden;
    position: relative;
    top:10px;
}
.ques_info{
	position: absolute;
	border:1px lightgray solid;
	background: #fff;
	padding:5px;
	margin:2px;
	display: none;
}
.document{
	margin-top:10px;
	text-align: center;
	clear:both;
}
.document img{
	border:1px lightgray solid;
}
.down_btn{
	margin: 0 100px 0 100px;
	margin-top:10px;
}
.about_img{
	float:right; height:150px; border-radius:4px;
}
.contributor-container{
    margin-bottom:1em;
    margin-top:1em;
    float: left;
}
.contributor-container>img{
    float:left;
    max-width:35%;
    margin-right:2%;
}
.contributor-container>p{
    width:63%;
    float: right
}
.contributor-container>h4{
    width:63%;
    float:left;
    font-size:1.22em;
}
.contributor-container>.about-img-container{
    hieght:200px;
}
@media (max-width: 600px){
.contributor-container{
    margin-bottom:1em;
    margin-top:1em;
    float: left;
}
.contributor-container>img{
   max-width: 100%;
    margin: auto;
    margin-bottom: 1em;
    display: block;
    float: none;
}
.contributor-container>p{
    width:100%;
    float: none;
}
.contributor-container>h4{
    width:100%;
    float:none;
    margin-bottom: 1em;
    font-size:1.22em;
}
}
