<div class="footer hide-for-print">
    <div>
        <p>Sponsored by <a class="color_link" href="http://www.empirejustice.org/">Empire Justice Center</a> &copy; 2014.</p>
         <h6>DISCLAIMER:</h6> 
        <p>This site is provided for general informational purposes only. It should not be construed as legal advice and is not intended to be a substitute for legal counsel. Persons requiring legal advice should retain a properly licensed lawyer. No attorney-client relationship will be formed based on use of this site and any comments or posts to this site will not be privileged or confidential.</p>
    </div>
    <div class="footer_links">
        Useful links: <a class="color_link" href="http://www.consumerfinance.gov/find-a-housing-counselor/">Find a Housing Counselor</a> 
        <b>&middot;</b> 
        <a class="color_link" href="http://www.empirejustice.org/about-us/contact-us.html">Contact Us</a>  
        <b>&middot;</b>  
        <a class="color_link" href="aboutus.html">About Us</a>
    </div>
</div>


