<div class="footer hide-for-print">

    <p>Sponsored by <a href="http://www.empirejustice.org/ " target="_blank">Empire Justice Center</a>, <a href="http://www.albanylaw.edu/glc" target="_blank">Albany Law School</a> and <a href="http://www.albany.edu/informatics/" target="_blank">University at Albany Informatics Department</a> &copy; 2014.</p>

    <h5>DISCLAIMER:</h5> 
    <p>This site is provided for general informational purposes only. It should not be construed as legal advice and is not intended to be a substitute for legal counsel. Persons requiring legal advice should retain a properly licensed lawyer. No attorney-client relationship will be formed based on use of this site and any comments or posts to this site will not be privileged or confidential.</p>

    <div class="footer_links">
        <a href="http://www.consumerfinance.gov/find-a-housing-counselor/">Find a Housing Counselor</a> 
        <strong>&middot;</strong> 
        <a href="http://www.empirejustice.org/about-us/contact-us.html">Contact Us</a>  
        <strong>&middot;</strong>  
        <a href="aboutus.html">About Us</a>
        <strong>&middot;</strong>  
        <a href="https://github.com/empirejustice/empirejustice.github.io">This Guide is Open Source and Available on GitHub</a>
    </div>

</div> 
