<div class="footer">
    <div>
        Sponsored by <a class="color_link" href="http://www.empirejustice.org/">Empire Justice Center</a> &copy; 2014. This is a general guide through the foreclosure process and should not be construed to be formal legal advice. Each person’s situation is unique, and therefore consultation with an attorney is recommended.
    </div>
    <div class="footer_links">
        Useful links: <a class="color_link" href="http://www.consumerfinance.gov/find-a-housing-counselor/">Find a Housing Counselor</a> 
        <b>&middot;</b> 
        <a class="color_link" href="http://www.empirejustice.org/about-us/contact-us.html">Contact Us</a>  
        <b>&middot;</b>  
        <a class="color_link" href="aboutus.html">About Us</a>
    </div>
</div>


