<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <!-- <meta http-equiv="Content-Language" content="en" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Umair Ahmad"/>
    <meta name="keywords" content="foreclosure, house, home, homeowner, albany, new york, bank, empire justice center, guide"/>
    <!-- <meta name="alexa" content="100"/> -->
    <title>{{ page.title }}</title>

    <link type="text/css" rel="stylesheet" href="stylesheets/styles.css">


    <!-- <link type="text/css" rel="stylesheet" href="css/foundation.css"> -->
 <!--    <link type="text/css" rel="stylesheet" href="css/base.css">
    <link type="text/css" rel="stylesheet" href="css/header.css">
    <link type="text/css" rel="stylesheet" href="css/home.css">
    <link type="text/css" rel="stylesheet" href="css/main.css">
    <link type="text/css" rel="stylesheet" href="css/footer.css"> -->
    <!-- <link type="text/css" rel="stylesheet" href="foundation-icons/foundation-icons.css"> -->
 <!--    
    <script type="text/javascript" src="js/modernizr.js"></script>
     -->
    <link href="images/favicon.ico" rel="icon">
</head>
