<div class="nav_bar noSelect hide-for-print">


    <ul class="inline-list">

        <li>
            <div class="logo">
                <a href="index.html">
                    <img alt="Logo" src="images/logo.jpg">
                    <i class="foundicon-home"></i>
                </a>
            </div>
        </li>

        <li>
            <a href="#" data-dropdown="guide" class="button radius dropdown">Timeline</a><br>
            <ul id="guide" data-dropdown-content class="f-dropdown">
                <li><a href="index.html">Home</a></li>
                <li><a href="stage1.html">Behind on payments (Stage 1)</a></li>
                <li><a href="stage2.html">90-Day <strong>Pre-Foreclosure</strong> Notice (Stage 2)</a></li>
                <li><a href="stage3.html"><strong>The Demand Letter</strong> (Stage 3)</a></li>
                <li><a href="stage4.html"><strong>Summons &amp; Complaint</strong> notice (Stage 4)</a></li>
                <li><a href="stage5.html">File an <strong>Answer</strong> or <strong>Notice of Appearance</strong> (Stage 5)</a></li>
                <li><a href="stage6.html">Attend the<strong> Settlement Conference</strong> (Stage 6)</a></li>
                <li><a href="stage7a.html">Successful <strong>Settlement Conference</strong> (Stage 7A)</a></li>
                <li><a href="stage7b.html">Unsuccessful <strong>Settlement Conference</strong> (Stage 7B)</a></li>
                <li><a href="stage8.html"><strong>Post Judgement</strong> (Stage 8)</a></li>

            </ul>
        </li>
        <li>
            <a href="#" data-dropdown="documents" class="button radius dropdown">Documents</a><br>
            <ul id="documents" data-dropdown-content class="f-dropdown">
                <li><a href="prefc.html">90-Day Pre-Foreclosure Notice (Stage 2)</a></li>
                <li><a href="demand.html">Demand Letter (Stage 3)</a></li>
                <li><a href="summons.html">Summons (Stage 4)</a></li>
                <li><a href="complaint.html">Complaint (Stage 4)</a></li>
                <li><a href="answer.html">Filing an Answer (Stage 5)</a></li>
                <li><a href="appearance.html">Filing Notice of Appearance (Stage 5)</a></li>
                <li><a href="settlement.html">Settlement Conference (Stage 6)</a></li>
            </ul>
        </li>

        <li>
            <a href="#" data-dropdown="resources" class="button radius dropdown">Resources</a><br>
            <ul id="resources" data-dropdown-content class="f-dropdown tiny">

                <li {% if page.path == 'checklist.html' %} class="highlight" {% endif %}>
                    <a href="checklist.html">My Checklist</a>
                </li>

                <li>
                    <a target="_blank" href="http://www.consumerfinance.gov/find-a-housing-counselor/">Housing Counselor</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.ag.ny.gov/consumer-frauds/help-homeowners">Avoid Scams</a>
                </li>
                <li {% if page.path == 'terminology.html' %} class="highlight" {% endif %}>
                    <a href="terminology.html">Important Terms</a>
                </li>
                <li {% if page.path == 'faq.html' %} class="highlight" {% endif %}>
                    <a href="faq.html">FAQs</a>
                </li>
                <li {% if page.path == 'aboutus.html' %} class="highlight" {% endif %}> 
                    <a href="aboutus.html">About Us</a>
                </li>
            </ul>
        </li>         
    </ul>
</div>
