<div class="nav_bar">
    <div class="logo">
        <a href="index.html">
            <img class="ejc_logo" alt="Logo" src="images/logo.jpg"/>
            <i class="fi-home"></i>
        </a>
    </div>
    <div class="page_title">
        <ul class="header_menu">
            <li><a id="menu-1" data-dropdown="drop1" class="button dropdown">Foreclosure Guide</a>
                <ul class="list-1">
                    <li class="highlight"><a href="index.html">Home</a></li>
                    <li><a href="stage1.html">Behind on payments (Stage 1)</a></li>
                    <li><a href="stage2.html">90-Day <b>Pre-Foreclosure</b> Notice (Stage 2)</a></li>
                    <li><a href="stage3.html"><b>The Demand Letter</b> (Stage 3)</a></li>
                    <li><a href="stage4.html"><b>Summons & Complaint</b> notice (Stage 4)</a></li>
                    <li><a href="stage5.html">File an <b>Answer</b> or <b>Notice of Appearance</b> (Stage 5)</a></li>
                    <li><a href="stage6.html">Attend the<b> Settlement Conference</b> (Stage 6)</a></li>
                    <li><a href="stage7a.html">Successful Conference (Stage 7A)</a></li>
                    <li><a href="stage7b.html">Unsuccessful Conference (Stage 7B)</a></li>
                    <li><a href="stage8.html"><b>Post Judgement</b> (Stage 8)</a></li>
                </ul>
            </li>
        </ul>
        <ul class="header_menu">
            <li>
                <a id="menu-2" href="#" data-dropdown="drop1" class="button dropdown">Documents</a>
                <ul class="list-2">
                    <li><a href="documents/prefc.html">90-Day Pre-Foreclosure Notice (Stage 2)</a></li>
                    <li><a href="documents/demand.html">Demand Letter (Stage 3)</a></li>
                    <li><a href="documents/summons.html">Summons (Stage 4)</a></li>
                    <li><a href="documents/complaint.html">Complaint (Stage 4)</a></li>
                    <li><a href="documents/answer.html">Filing an Answer (Stage 5)</a></li>
                    <li><a href="documents/appearance.html">Filing Notice of Appearance (Stage 5)</a></li>
                    <li><a href="documents/settlement.html">Settlement Conference (Stage 6)</a></li>
                </ul>
            </li>
        </ul>
        <ul class="header_menu">
            <li>
                <a id="menu-3" data-dropdown="drop1" class="button dropdown">Resources</a>
                <ul class="list-3">
                    <li><a href="http://www.consumerfinance.gov/find-a-housing-counselor/">Housing Counselor</a></li>
                    <li><a target="_blank" href="http://www.ag.ny.gov/consumer-frauds/help-homeowners">Avoid Scams</a></li>
                    <li><a href="terminology.html">Important Terms</a></li>
                    <li><a href="faq.html">FAQs</a></li>
                    <li><a href="aboutus.html">About Us</a></li>
                </ul>
            </li>
        </ul>
    </div>
    
</div>
