<div class="nav_bar noSelect">
    <div class="logo">
        <a href="index.html">
            <img alt="Logo" src="images/logo.jpg">
            <i class="foundicon-home"></i>
        </a>
    </div>
    <div class="page_title">
        <ul class="header_menu">
            <li><a id="menu-1" data-dropdown="drop1" class="button dropdown">Timeline</a>
                <ul class="list-1">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="stage1.html">Behind on payments (Stage 1)</a>
                    </li>
                    <li {% if page.path == 'prefc.html'%} class="highlight" {% endif %}>
                        <a href="stage2.html">90-Day <b>Pre-Foreclosure</b> Notice (Stage 2)</a>
                    </li>
                    <li {% if page.path == 'demand.html'%} class="highlight" {% endif %}>
                        <a href="stage3.html"><b>The Demand Letter</b> (Stage 3)</a>
                    </li>
                    <li {% if page.path == 'summons.html' or page.path == 'complaint.html'%} class="highlight" {% endif %}>
                        <a href="stage4.html"><b>Summons & Complaint</b> notice (Stage 4)</a>
                    </li>
                    <li {% if page.path == 'answer.html' or page.path == 'appearance.html'%} class="highlight" {% endif %}>
                        <a href="stage5.html">File an <b>Answer</b> or <b>Notice of Appearance</b> (Stage 5)</a>
                    </li>
                    <li {% if page.path == 'settlement.html'%} class="highlight" {% endif %}>
                        <a href="stage6.html">Attend the<b> Settlement Conference</b> (Stage 6)</a>
                    </li>
                    <li>
                        <a href="stage7a.html">Successful Conference (Stage 7A)</a>
                    </li>
                    <li>
                        <a href="stage7b.html">Unsuccessful Conference (Stage 7B)</a>
                    </li>
                    <li>
                        <a href="stage8.html"><b>Post Judgement</b> (Stage 8)</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="header_menu">
            <li>
                <a id="menu-2" href="#" data-dropdown="drop1" class="button dropdown">Documents</a>
                <ul class="list-2">
                    <li {% if page.path == 'prefc.html'%} class="highlight" {% endif %}>
                        <a href="prefc.html">90-Day Pre-Foreclosure Notice (Stage 2)</a>
                    </li>
                    <li {% if page.path == 'demand.html'%} class="highlight" {% endif %}>
                        <a href="demand.html">Demand Letter (Stage 3)</a>
                    </li>
                    <li {% if page.path == 'summons.html'%} class="highlight" {% endif %}>
                        <a href="summons.html">Summons (Stage 4)</a>
                    </li>
                    <li {% if page.path == 'complaint.html'%} class="highlight" {% endif %}>
                        <a href="complaint.html">Complaint (Stage 4)</a>
                    </li>
                    <li {% if page.path == 'answer.html'%} class="highlight" {% endif %}>
                        <a href="answer.html">Filing an Answer (Stage 5)</a>
                    </li>
                    <li {% if page.path == 'appearance.html'%} class="highlight" {% endif %}>
                        <a href="appearance.html">Filing Notice of Appearance (Stage 5)</a>
                    </li>
                    <li {% if page.path == 'settlement.html'%} class="highlight" {% endif %}>
                        <a href="settlement.html">Settlement Conference (Stage 6)</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="header_menu">
            <li>
                <a id="menu-3" data-dropdown="drop1" class="button dropdown">Resources</a></button>
                <ul class="list-3">
                    {% if page.path == "settlement.html" %}
                    <li class="highlight">
                        <a href="checklist.html">My Checklist</a>
                    </li>
                    {% endif %}
                    <li {% if page.path == 'prefc.html'%} class="highlight" {% endif %}>
                        <a href="http://www.consumerfinance.gov/find-a-housing-counselor/">Housing Counselor</a>
                    </li>
                    <li {% if page.path == 'prefc.html'%} class="highlight" {% endif %}>
                        <a target="_blank" href="http://www.ag.ny.gov/consumer-frauds/help-homeowners">Avoid Scams</a>
                    </li>
                    <li>
                        <a href="terminology.html">Important Terms</a>
                    </li>
                    <li>
                        <a href="faq.html">FAQs</a>
                    </li>
                    <li>
                        <a href="aboutus.html">About Us</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
