@mixin border-color($color){
    border:4px $color solid;
}


// a{
// 	color:#007BA0;
// 	cursor: pointer;
//     text-decoration:none;
//     &:hover{
//         text-decoration: underline;
//     }
// }
.radius-10 {border-radius:10px;}
.indent{padding-left: 20px;}

// .color_link{
// 	color: #007BA0;
// 	text-decoration: underline;
// }
.container{
	border:2px #94B5BC solid;
	border-radius: 6px;
	background: $container-bg;
    margin-top:10px;
    img{
        padding-top: 5px;
        padding-bottom:5px;
    }
}

.ques_info{
	position: absolute;
	border:1px lightgray solid;
	background: $container-bg;
	padding:5px;
	margin:2px;
	display: none;
}

.visible{display: block;}
.remove{display: none;}




// .contributor-title{
//     margin-bottom:1em;
// }

