.footer{
	margin-top:80px;
	padding:10px;
	border:1px $main-border-color solid;
	border-left:0;
	border-right:0;
	background: #fff;
	width: 100%;
	font-size:0.95em;
	overflow: hidden;
}
.footer_links{
	font-size:0.95em;
	float:left;
	margin-top:5px;
}
