$body-bg: #F2F2F2;

$primary-color: #78A0AB;
$secondary-color: #F76C88;

$container-bg: #fff;

$button-function-factor: -25%;
// $body-font-color: #303030;
$header-font-color: #303030;

$paragraph-line-height: 1.4;

$row-width: rem-calc(800);


$table-even-row-bg: #F0F0F0; 
$table-border-color: #94B5BC;

///////TOP-BAR FOUNDATION//////
$topbar-bg-color: white;
$topbar-height: 60px;
$topbar-button-top: 11px;
// $topbar-button-font-size: 1rem;

.top-bar{
    border-bottom: $secondary-color solid 1px;
    box-shadow: 0 0 8px 1px #BEBEBE;

    a.button{
        // margin-right:30px;
        // height:0px;
        border-bottom: $secondary-color solid 1px;
        font-size:1.2rem !important;
    }
}

.has-form{
    border-bottom: $secondary-color solid 1px;
    }
