
.stage_title{
    @extend .container;
    @include border-color(#94B5BC);
}







.c1{@include border-color(#CAC9F2);}
.c2{@include border-color(lightblue);}
.c3{@include border-color(#9BDD9F);}
.c4{@include border-color(#DFBFBF);}
.c5{@include border-color(lightpink);}
.c6{@include border-color(#f2D5d5);}
.c7{@include border-color(#f2f2bf);}
.c8{@include border-color(#d5f2d9);}
.c9{@include border-color(#f2d0a9);}
.c10{@include border-color(#cac9f2);}
.c11{@include border-color(#FFB9D5);}
.c12{@include border-color(#FFD1A4);}
.c13{@include border-color(#DFBFBF);}

#faqNav{
    padding:15px;
    @include border-color(#c5d4b8);
    border-radius: 10px;
    background: #fff;
    margin-top: 10px;
}

.stage-nav{
    @media #{$large} {
        padding-top:8px;
    }
}







// .qnaire-back{
//     float:left;
// }
// .qnaire-opts{
//     //border:1px red solid;
//     float:right;
// }
.qnaire-opts button{
    padding:4px 20px;
}

.dev{
    margin-top:0 !important;
}
.dev li{
    border:1px rgb(200, 200, 200) solid;
    margin-top: -1px;
}
.dev-link{
    display: table;
    width: 100%;
}
.dev-img{
    height: 54px;
    width: 54px;
    max-width: 54px;
    max-height: 54px;
    border:1px lightgray solid;
    display: table-cell;
    overflow: hidden;
    font-size: 0.8em;
}
.dev .dev-name{
    padding:0 8px;
    display: table-cell;
    vertical-align: middle;
}
.block{
    display: block;
}
