

body,html{
    color: $body-font-color;
}


//Configures buttons and dropdown
.dropdown, .button, button{
    padding-top: .4rem;
    padding-right: .6rem;
    padding-left: .6rem;
    padding-bottom: .4rem;
    border-color: #30A8A2;
    margin-bottom: 0px;
}

.page_title a{ margin-bottom:0px;}

.header_menu{
    margin: 0px;
    li a{ padding-left: .6rem;}
}

.home_menu{ 
    margin-left: 0px;
    li > ul{
        margin: 0;
    }

}

// Adjusts size of search button icons
.search_area{
    .foundicon-search{padding: 5px 12px !important;}
}

.stage-nav{
    margin-bottom:5px;
}
