///////////////CUSTOM VARIABLES///////////////////////
$container-bg: #fff;
$main-border-color:#94B5BC;
/////////////////END CUSTOM VARIABLES



///////////////////////FOUNDATION VARIABLES//////////////////////

$body-bg: #F2F2F2;

$primary-color: #78A0AB;
$secondary-color: #F76C88;



$button-function-factor: -25%;
// $body-font-color: #303030;
$header-font-color: #303030;

$paragraph-line-height: 1.4;

$row-width: rem-calc(800);


$table-even-row-bg: #F0F0F0; 
$table-border-color: $main-border-color;


$panel-bg: $container-bg;
$panel-border-style: solid;
$panel-border-size: 4px;

// $panel-border-color: $main-border-color;
// $panel-padding: rem-calc(20);

// $panel-font-color: #333;
// $panel-font-color-alt: #fff;



///////TOP-BAR FOUNDATION//////
$topbar-bg-color: white;
$topbar-height: 60px;
$topbar-button-top: 11px;
// $topbar-button-font-size: 1rem;
///////////////END FOUNDATION VARIABLES//////////////////////////////



