///////////////CUSTOM VARIABLES///////////////////////
$container-bg: #fff;
$main-border-color:#94B5BC;
$link-color: #007ba0;
/////////////////END CUSTOM VARIABLES



///////////////////////FOUNDATION VARIABLES//////////////////////

$body-bg: #F2F2F2;

$primary-color: #78A0AB;
$secondary-color: #F76C88;



$button-function-factor: -25%;
// $body-font-color: #303030;
$header-font-color: #303030;

$paragraph-line-height: 1.4;

$row-width: rem-calc(800);


$table-even-row-bg: #F0F0F0; 
$table-border-color: $main-border-color;


$panel-bg: $container-bg;
$panel-border-style: solid;
$panel-border-size: 4px;

// $panel-border-color: $main-border-color;
// $panel-padding: rem-calc(20);

// $panel-font-color: #333;
// $panel-font-color-alt: #fff;


// We use these to style anchors
$anchor-text-decoration: underline;
// $anchor-text-decoration-hover: none;
$anchor-font-color: $link-color;
// $anchor-font-color-hover: scale-color($primary-color, $lightness: -14%);


$accordion-navigation-padding: rem-calc(10);
// $accordion-navigation-bg-color: $primary-color  ;
// $accordion-navigation-hover-bg-color: scale-color($accordion-navigation-bg-color, $lightness: -5%);
// $accordion-navigation-active-bg-color: scale-color($accordion-navigation-bg-color, $lightness: -3%);
$accordion-navigation-font-color: white;
$accordion-navigation-font-size: rem-calc(22);
// $accordion-navigation-font-family: $body-font-family;

// $accordion-content-padding: $column-gutter/1;
// $accordion-content-active-bg-color: red;


//Used for top position
// $f-dropdown-margin-top: 10px;

// $f-dropdown-margin-bottom: $f-dropdown-margin-top;

//We use this to control the background color
// $f-dropdown-bg: #fff;

//We use this to set the border styles for dropdowns.
$f-dropdown-border-style: solid;
$f-dropdown-border-width: 1px;
$f-dropdown-border-color: $secondary-color;
$f-dropdown-font-size: rem-calc(19);

$f-dropdown-triangle-side-offset: 0px;

$f-dropdown-max-width: 450px;



 
///////TOP-BAR FOUNDATION//////
// $topbar-bg-color: white;
// $topbar-height: 60px;
// $topbar-button-top: 11px;
// $topbar-button-font-size: 1rem;
///////////////END FOUNDATION VARIABLES//////////////////////////////



